body{
    margin:0%;
}
.Half-width{
    width:35%;
    padding: 5%;
    margin:0%;
    float:left;
}
.Half-width img{
    width:100%;
    height:100%;

    /*height:400px;*/
}
body{
    font-family: "Poppins", sans-serif;
}
.Link_Button{
    background-color: brown;
    color:white;
    padding: 5px 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg , rgb(151, 66, 29) , rgb(50, 12, 125));
}
.height{
    color:brown;
}
.background{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
/*.Half-width1{
    width:30%;
    padding: 5%;
    margin:0%;
    float:left;
}
.Half-width1 img{
 width:100%;
}*/
.background1{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.background2{
    background-image: url("images/biography-bg.png");
}
.background3{
    background-image: url("images/footer-bg.png");
    
}
section{
    /*border-bottom: 1px solid white;*/
    height:700px;
}
.first-half{
    padding:10% 5% 0% 10%;
}
p{
    color:dimgray;
}
.textP{
    padding:5%;
    text-align: center;
}
.one-third{
    width:30%;
    float: left;
    padding:10px;
    margin:0%;
}
.one-third img{
    width:100%;
}
#fp{
    padding:100px;
}
#ftext{
    color:black;
}
#lastP{
    background-color: purple;
    margin:5% 30%;
    padding: 2% 7%;
    border-radius: 10px;
    color:white;
}
#colorS{
    color:white;
    font-size: 12px;
}
#footer{
    text-align: center;
}