h1{
    font-size: 30px;
    
}
img{
    width:50%
}
body{
    font-family: "Poppins", sans-serif;
}
.NameHighlight{
    color:rgb(209, 113, 35);
}
.half-width{
    width: 40%;
    float:left;
    margin:3%;
    padding:2%;
}
.half-width img{
    width:100%;
}
